.nav-bar-div {
  /* position: relative; */
  /* z-index: 999; */
  display: flex;
  justify-content: center;
}

.nav-bar-item {
  text-decoration: none;
  margin: 30px;
}

.nav-bar-item:hover {
  text-decoration: underline;
}
